.App {
  text-align: center;
  min-height: 85vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  /* color: rgb(44, 177, 254) */

nav > img {
  height: 10vh;
}

.navi {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(44, 177, 254); */
  box-shadow: 0px 5px 5px rgba(0, 162, 255, 0.384);
}

nav > button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

.buttonz {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  height: 7vh;
  margin-top: 2vh;
  font-size: 15px;
  font-family: "Open Sans", Helvetica;
  border-radius: 25px;
  border: 1px solid rgb(44, 177, 254);
  color: rgb(44, 177, 254);
  background: #fff;
  box-shadow: 0px 0px 0px rgb(0, 162, 255);
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.buttonz:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(0, 162, 255, 0.473);
  
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.buttonz:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgb(44, 177, 254);
  color: white;
}

.part1 {
  height: 55vh;
}

.CoDropMan {
  float: right;
}

.topHeader {
  float: left;
  width: 65vw;
  padding: 5vw;
  border: 1px solid rgb(44, 177, 254);
  border-radius: 200px;
  margin-top:75px;
  margin-left: 45px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.100);
  background: aliceblue;
}

.blogs {
  border: 1px solid rgb(44, 177, 254);
  border-radius: 200px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.150);
  background: aliceblue;
  margin: 2vh;
  width: 25vw;
  /* margin-left: 34.5vw; */
}

.favoriteBlogs {
  border: 1px solid rgb(39, 243, 56);
  border-radius: 200px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.150);
  background: rgb(214, 255, 218);
  margin: 2vh;
  width: 25vw;
  /* margin-left: 34.5vw; */
}

.BlogsList {
  background: rgb(44, 177, 254);
  background-size: cover;
  min-height: 100vh;
  margin-top: -1vw;
  padding-top: 1vh;
}

.BlogsList > h1 {
  color: white;
}

.splat {
  z-index: -10;
  transition: 0.70s;
 -webkit-transition: 0.70s;
 -moz-transition: 0.70s;
 -ms-transition: 0.70s;
 -o-transition: 0.70s;
 width: 200px;
 height: 150px;
 display: block;
 margin-right: auto;
 margin-left: auto;
}

.splat:hover {
  transition: 0.70s;
 -webkit-transition: 0.70s;
 -moz-transition: 0.70s;
 -ms-transition: 0.70s;
 -o-transition: 0.70s;
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 transform: rotate(180deg);
}

.topHeader > h1 {
  color: rgb(44, 177, 254);
}

.part2 {
  border: 1px solid rgb(44, 177, 254);
  /* box-shadow: 10px 10px 10px 10px rgba(0, 162, 255, 0.100); */
  height: 40vh;
  display: flex;
  justify-content: center;
}

.drinking > img{
  width: 15vw;
}

.drinking {
  float: left;
  padding-top: 5vh;
  padding-right: 5vw;
}

.welcome {
  float: right;
  width: 25vw;
  font-size: 1vw;
  padding-top: 2vh;
}

.welcome > h1 {
  color: rgb(44, 177, 254);
}

.welcome > button {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  height: 7vh;
  /* margin-top: 2vh; */
  font-size: 15px;
  font-family: "Open Sans", Helvetica;
  border-radius: 25px;
  border: 1px solid rgb(44, 177, 254);
  color: rgb(44, 177, 254);
  background: #fff;
  box-shadow: 0px 0px 0px rgb(0, 162, 255);
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.welcome > button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(0, 162, 255, 0.473);
  
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.welcome > button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgb(44, 177, 254);
  color: white;
}

.part3 {
  background-color: rgb(44, 177, 254);
  height: 40vh;
  color: white;
}

.part3gifs {
  display: flex;
  justify-content: space-evenly;
}

.part3 > h1 {
  margin: 0;
  color: white;
  padding-top: 2vh;
  /* display: block; */
}

.writer > img {
  width: 15vw;
  padding-bottom: 7vh;
  padding-top: 3vh
}

.network > img {
  width: 15vw;
}

.express > img {
  width: 15vw;
  padding-bottom: 3vh;
  padding-top: 4vh;
}

.control > img {
  width: 15vw;
  padding-bottom: 6vh;
  padding-top: 5vh;
}

.influence > img {
  width: 15vw;
  padding-bottom: 8.5vh;
  padding-top: 7vh;
}

footer {
  border: 1px solid rgb(44, 177, 254);
  display: flex;
  justify-content: center;
  height: 5vh;
  position: relative;
  bottom:0;
  width:100%;
}

.Login {
  background-image: url(/background.png);
  background-size: cover;
  z-index: -1; 
  /* background: aliceblue; */
  font-family: "Open Sans", Helvetica;
  border-radius: 25px;
  width: 360px;
  margin: auto;
  margin-top: 20vh;
  border: 1px solid rgb(44, 177, 254);
  box-shadow: 25px 40px 40px rgba(0, 162, 255, 0.473);
  /* min-height: 85vh; */
}


.Signup {
  background-image: url(/background.png);
  background-size: cover;
  z-index: -1; 
  /* background: aliceblue; */
  font-family: "Open Sans", Helvetica;
  border-radius: 25px;
  width: 360px;
  margin: auto;
  margin-top: 20vh;
  border: 1px solid rgb(44, 177, 254);
  box-shadow: 25px 40px 40px rgba(0, 162, 255, 0.473);
}

.roundInput {
  border-radius: 25px;
  border: 1px solid rgb(44, 177, 254);
  color: rgb(44, 177, 254);
  padding: 1vh;
  margin: 1vh;
}

.copyright {
  padding-top: 1vh;
  padding-right: 10vw;
}

.terms {
  padding-top: 1vh;
}

.term {
  border-right: 1px solid black;
  padding-right: 1vw;
}

.policy {
  border-right: 1px solid black;
  padding-right: 1vw;
  padding-left: 1vw;
}

.act {
  padding-left: 1vw;
}

.x {
  margin-left: 1vw;
}

.y {
  margin-left: 2.75vw;
}

.z {
  margin-left: 1vw;
}

.xyz {
  margin-bottom: 3vh;
}

.noAccount, .whiteLink {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.63);
}

.ProfilePage {
  background-color: rgb(44, 177, 254);
  min-height: 100vh;
  margin-bottom: -4vw;
  margin-top: -1vw;
}

.profileHead {
  background: white;
  /* border: 1px solid black; */
  /* margin: 3vw; */
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1vh;
  box-shadow: 25px 40px 40px rgba(0, 0, 0, 0.473);
  min-height: 100vh;
  margin-bottom: 0;
  padding-top: 1vw;
}

.description {
  width: 25vw;
  /* height: 25vh; */
}

.allBlogs {
  display: inline-grid;
}

h3 {
  color: rgb(44, 177, 254);
}

.wh {
  color: white;
}